body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #112D52;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content at the top */
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Styles for the authentication container */
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #112D52;
}

/* Styles for the authentication form */
.auth-form {
  text-align: center;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Styles for input fields and labels */
.form-outline {
  position: relative;
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
}

.form-label {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: 0.3s ease;
}

.form-control:focus + .form-label,
.form-control:not(:placeholder-shown) + .form-label {
  top: -20px;
  font-size: 14px;
  color: #112D52;
}

/* Style for the sign-in button */
.btn-primary {
  background-color: #112D52;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0A1E3E;
}


.back-button-container {
  margin-top: 50px;
  margin-bottom: 40px; /* Added margin after the button */
}

.back-button {
  display: inline-block;
  padding: 10px 20px; /* Increased padding for more space */
  background-color: #1984b6;
  border: 2px solid #000000; /* Dark blue border */
  color: #FFFFFF;
  font-size: 18px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #ff0000;
}


h2 {
  font-size: 44px;
  margin: 10px 0 40px; /* Adjusted top, bottom, and right margin */
}

h3 {
  font-size: 34px;
  margin: 5px 0 5px; /* Adjusted top, bottom, and right margin */
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center; /* Center button rows horizontally */
}

.button-row {
  display: flex;
  gap: 30px;
  justify-content: center; /* Center the buttons horizontally */
}

.button {
  flex: 1;
  border-radius: 8px;
  background-color: #112D52;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  padding: 40px;
  min-width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.button span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\2192';
  position: absolute;
  opacity: 0;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  transition: 0.5s;
}

.button:hover {
  background-color: #112D52;
}

.button:hover span {
  padding-right: 55px;
}

.button:hover span:after {
  opacity: 1;
  right: 5px;
}

